<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="assets/images/publicidad1.jpg" alt="First slide" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="assets/images/publicidad2.jpg" alt="Second slide" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="assets/images/publicidad3.jpg" alt="Third slide" height="450">
                        </div>
                    </div>

                    <br>
                    <hr>
                    <h3><strong>Lo mas popular ...</strong></h3>
                    <hr>

                    <div class="row col-md-12 ">
                        <div class="card-deck ">

                            <div class="card ">
                                <img class="card-img-top img-circle pointer img-fluid" height="36% " src="assets/images/carta1.jpg " alt="Card image cap ">
                                <div class="card-body ">
                                    <h5 class="card-title "><strong>Stoli</strong></h5>
                                    <p class="card-text " align="justify ">Es una marca de vodka producido en Moscú. Se obtiene a partir de granos del trigo y centeno de Tambov, una ciudad situada en la región de tierra negra de Rusia.</p>
                                </div>
                            </div>

                            <div class="card ">
                                <img class="card-img-top img-circle pointer " height="36% " src="assets/images/carta2.jpg " alt="Card image cap ">
                                <div class="card-body ">
                                    <h5 class="card-title "><strong>Dewards</strong></h5>
                                    <p class="card-text " align="justify ">Un whisky escocés mezclado propiedad de Bacardi, que afirma que la marca "White Label " es el whisky escocés de mayor venta en los EE. UU. Dewar's es también el whisky escocés mezclado más premiado del mundo con más
                                        de 500 medallas obtenidas en competiciones internacionales</p>

                                </div>
                            </div>

                            <div class="card ">
                                <img class="card-img-top img-circle pointer " height="36% " src="assets/images/carta3.jpg " alt="Card image cap ">
                                <div class="card-body ">
                                    <h5 class="card-title "><strong>MOËT & CHANDON</strong></h5>
                                    <p class="card-text " align="justify ">Moët & Chandon, sinónimo de la más venerable de las tradiciones y de las celebraciones más modernas, ha distinguido con estilo los momentos más memorables de nuestra vida merced a un halo de atrevimiento, elegancia
                                        y generosidad desde hace 270 años. Famoso por sus logros y por su original y legendario espíritu pionero desde 1743, Moët & Chandon es la Maison que hizo llegar el champagne al mundo.</p>
                                </div>
                            </div>

                            <div class="card  ">
                                <img class="card-img-top img-circle pointer  " height="36% " src="assets/images/carta4.jpg " alt="Card image cap ">
                                <div class="card-body ">
                                    <h5 class="card-title "><strong>Black label</strong></h5>
                                    <p class="card-text " align="justify ">La historia de la marca se remonta a 1805, año de nacimiento del fundador de la marca, John Walker. Quien vendiendo la granja de su padre compró una pequeña tienda de comestibles en Kilmarnock, al oeste de Escocia,
                                        el joven de 20 años se dio a conocer en la zona, vendiendo sus propios whiskies.2​ Su hijo, Alexander Walker, continuó con el negocio familiar a partir de 1857 y en 1860 la casa adoptó el diseño cuadrado de la botella
                                        para sus whiskies. </p>
                                </div>
                            </div>







                        </div>
                    </div>


                    <div class="carousel-item">
                        <img src="..." alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                        </div>
                    </div>

                    <hr>

                    <h3><strong>Opiniones</strong></h3>
                    <hr>

                    <div class="row col-md-12 " align="center">
                        <div class="card-deck ">

                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header" align="center">Anonimo</div>
                                <div class="card-body">
                                    <img class="d-block w-100 img-circle" src=" assets/images/noimg.jpeg " alt="Third slide " height="36% ">
                                    <br>
                                    <p class="card-text" align="center">Buen sitio, buenos precios</p>
                                </div>
                            </div>

                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header" align="center">Emanuel Reyes</div>
                                <div class="card-body">
                                    <img class="d-block w-100 img-circle" src=" assets/images/JuanPerez.jpeg " alt="Third slide " height="36% ">
                                    <br>
                                    <p class="card-text" align="center">Personal agradable y muy serviciar</p>
                                </div>
                            </div>

                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header" align="center">Jonatan Mendez</div>
                                <div class="card-body">
                                    <img class="d-block w-100 img-circle" src=" assets/images/ManuelToribio.jpeg " alt="Third slide " height="36% ">
                                    <br>
                                    <p class="card-text" align="center">Buena disponibildad de parqueos</p>
                                </div>
                            </div>


                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header" align="center">Jeffry Rodriguez</div>
                                <div class="card-body">
                                    <img class="d-block w-100 img-circle" src=" assets/images/JeffryRodriguez.jpeg " alt="Third slide " height="36% ">
                                    <br>
                                    <p class="card-text" align="center">Desde ahora mi lugar preferido para la comproa de bebidas</p>
                                </div>
                            </div>

                        </div>
                    </div>











                </div>

            </div>
        </div>
    </div>
</div>